<h1> Welcome</h1>
<form method="POST" action="">
	<div>
		<label for="addYourStack">StackName:</label>
		<input type="text" name="username" value="">
        <input type="submit" value="add">
	</div>
	
</form>