<!doctype html>
<html>

  <head>

    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="stylesheets/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
  
  <!--word fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
  
 

    <!--the background video-->
    <style>
        .video-background { 
        background-color: rgba(0,0,0,0.25);
        filter: brightness(80%);
        position: fixed;
        top: 0;
        left: 0;
        width: auto;
        height: auto;
        overflow: hidden;
        opacity: 0.3;
        z-index: -1;
      }
    </style>

    <!-- embedded the video to the webpage-->
  
  </header>

  <body>


    {{{ body }}}

  </div>



  </body>
</html>