  <style>
  .bg-grey {
    background-color: #f1f1f1;
  }
</style>

<body class="bg-grey"> 

  <h2 style="margin-left: 30%;" >Register</h2>
  <h3 class="main-page-link">
	<a href="/"> Back to Home</a></h3>
 
{{#if message}}
<div class="error">{{ message }} <a href="/login">Login</a></div>
{{/if}}

  <div class="form-container">
	
	<form class ="form" method="POST" action="register">

    <label for="username">Username:</label>
    <input type="text" name="username" id="username">
  
    <label for="password">Password:</label>
    <input type="password" name="password" id="password">
  
    <input type="submit" id="register" value="Register">

	</form>
</div>

</body>