
    
     <!--Navigation Bar-->
  <nav>
    <span class="home-link">
      {{#if user}}
        <a href="/edit">Enter the System</a>
      {{else}}
        <a href="/">Home</a> 
      {{/if}}
    </span>
    <span class="login-status" id="validateUser">
      {{#if user}}
        Hi {{user.username}} </span>
        <p class="login-status">Today is: <span id="date"></span></p>
        
         <a href="/logout">logout</a> 
      {{else}}
        <a href="/register">Register</a> 
        <a href="/login">Login</a>
      {{/if}}
    </span>
  </nav>
    
    
    <video class="video-background" autoplay loop muted>
      <source src="/video.mp4" type="video/mp4">
    </video>
    
    <h1 class="centertext" id="title"> 🍃 StockInnerFlow</h1>
    <br>
    <h1 class="centertext" id="subtitle">Earn More than You See </h1>


<script>
  class MyDate extends Date {
  constructor() {
    super();
    return new Date();
  }
}
let currentDate = new MyDate();

  let dateElement = document.getElementById('date');
  dateElement.textContent = currentDate.toLocaleDateString();
</script>